a
{
	font-size: 18px;
	font-weight: 500;
	color: #FFFFFF;
	margin: 10px;
    text-transform : uppercase ;
}

:active 
{
    color: #2FCC76 !Important;
}

@media (max-width: 575px)
{
	.logo
	{
		width: 75px;
		height: 75px;
	}
	
}
