a {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 10px;
  text-transform: uppercase;
}

:active {
  color: #2FCC76 !Important;
}

li>a.active {
  color: #5ec48c;
  background-color: transparent
}

@media (max-width: 575px) {
  .logo {
    width: 75px;
    height: 75px;
  }

}
