@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';


:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 0px;
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  main {
    margin-left: var(--offcanvas-width);
  }
}

html, body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

