<div class="container-fluid mt-5 pt-3">
  <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
    <strong>Account created:</strong>
    <!-- //TODO -->
    <hr>
    <div>
      <h1>Edit Your Profile </h1>
      <hr>
      <div class="col-md-4">
        <form [formGroup]="profileForm" (ngSubmit)="saveProfile(profileForm.value)" autocomplete="off" novalidate>
          <div class="form-group" [ngClass]="{'error' : !validateFirstName()}">
            <label for="firstName">First Name:</label>
            <!-- <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.required">Required</em>
          <em *ngIf="!validateFirstName() && profileForm.controls.firstName.errors.pattern">Must start with a
            letter</em> -->

            <input formControlName="firstName" id="firstName" type="text" class="form-control"
              placeholder="First Name..." />
          </div>
          <div class="form-group" [ngClass]="{'error' : !validateLastName()}">
            <label for="lastName">Last Name:</label>
            <em *ngIf="!validateLastName()">Required</em>
            <input formControlName="lastName" id="lastName" type="text" class="form-control"
              placeholder="Last Name..." />
          </div>

          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
        </form>
      </div>
    </div>
  </div>

  <ng-template #loggedOut>
    Please login.
  </ng-template>
</div>
