.container-fluid {
  background-image: url("/assets/images/background5.png");
  background-color: #F8751E;
  background-attachment: fixed;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  color: #2FCC76;
  margin: 20px;
}
