<div class="card-body">
  <nz-table [nzTemplateMode]="true"
            [nzFrontPagination]="false">
    <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzWidth]="column.width!"
        [nzColumnKey]="column.nzColumnKey!"
        [nzSortFn]="column.sortFn!"
        [nzSortOrder]="column.sortOrder!"
        [nzFilters]="column.listOfFilter!"
        [nzFilterFn]="column.filterFn!"
        class="first-row"
      >{{column.name}}
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let visibleProduct of visibleProducts">
      <tr [class.expired]="visibleProduct.expireDate < currentTimeInMilliseconds"
          [class.expired-soon]="visibleProduct.expireDate < currentTimeInMilliseconds+259200000 && visibleProduct.expireDate > currentTimeInMilliseconds">
        <td>
          <input type="checkbox" id="{{visibleProduct?.idProduct}}"
                 name="{{visibleProduct?.idProduct}}"
                 value="{{visibleProduct?.idProduct}}">
        </td>
        <td class="product-name">
          {{visibleProduct?.productName}}
        </td>
        <td (mouseenter)="toggleShow(visibleProduct.idProduct)" (mouseleave)="toggleHide(visibleProduct.idProduct)">
          {{visibleProduct?.amountLeft}}{{visibleProduct.productSizeType}}
          <button
            [ngClass]="{'show-edit': editQuantityShown[visibleProduct.idProduct] , 'hide-edit' : !editQuantityShown[visibleProduct.idProduct] }"
            mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>mode_edit</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button disabled mat-menu-item>
              <span> Reduce the amount: </span>
            </button>
            <button *ngIf="visibleProduct.amountLeft>1000"
                    (click)="updateProduct(visibleProduct.idProduct, 1000, visibleProduct.amountLeft)" mat-menu-item>
              <span>1000{{visibleProduct.productSizeType}}</span>
            </button>
            <button *ngIf="visibleProduct.amountLeft>500"
                    (click)="updateProduct(visibleProduct.idProduct, 500, visibleProduct.amountLeft)" mat-menu-item>
              <span>500{{visibleProduct.productSizeType}}</span>
            </button>
            <button *ngIf="visibleProduct.amountLeft>250 && visibleProduct.productSizeType!= 'psc'"
                    (click)="updateProduct(visibleProduct.idProduct, 250, visibleProduct.amountLeft)" mat-menu-item>
              <span>Glass 250{{visibleProduct.productSizeType}}</span>
            </button>
            <button *ngIf="visibleProduct.amountLeft>15 && visibleProduct.productSizeType!= 'psc'"
                    (click)="updateProduct(visibleProduct.idProduct, 15, visibleProduct.amountLeft)" mat-menu-item>
              <span>Tablespoon 15{{visibleProduct.productSizeType}}</span>
            </button>
            <button *ngIf="visibleProduct.amountLeft>5 && visibleProduct.productSizeType != 'pcs'"
                    (click)="updateProduct(visibleProduct.idProduct, 5, visibleProduct.amountLeft)" mat-menu-item>
              <span>Teaspoon 5{{visibleProduct.productSizeType}}</span>
            </button>
            <button *ngIf=" visibleProduct.productSizeType == 'pcs'"
                    (click)="updateProduct(visibleProduct.idProduct, 1, visibleProduct.amountLeft)" mat-menu-item>
              <span>1{{visibleProduct.productSizeType}}</span>
            </button>
            <button *ngIf="visibleProduct.servingSize && visibleProduct.amountLeft>visibleProduct.servingSize"
                    (click)="updateProduct(visibleProduct.idProduct, visibleProduct.servingSize, visibleProduct.amountLeft)"
                    mat-menu-item>
              <span>Suggested serving size: {{visibleProduct.servingSize}}{{visibleProduct.productSizeType}}</span>
            </button>
            <button (click)="archive(visibleProduct.idProduct, visibleProduct.productName)" mat-menu-item>
              <span>All: {{visibleProduct.amountLeft}}{{visibleProduct.productSizeType}}</span>
            </button>
          </mat-menu>
        </td>
        <td>
          {{visibleProduct?.expireDate | date:'dd-MM-y'}}
        </td>
        <td>
          <button mat-icon-button [routerLink]="['/MyProducts/edit/' + visibleProduct?.idProduct]">
            <mat-icon>mode</mat-icon>
          </button>
        </td>
        <td>
          <button mat-icon-button (click)="archive(visibleProduct.idProduct, visibleProduct.productName)">
            <mat-icon class="archive">archive</mat-icon>
          </button>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </nz-table>
</div>
