
.archive {
  color: #E05C65;
}

.mat-button-toggle-checked {
  background-color: rgb(47, 204, 118);
}

.mat-button-toggle-disabled {
  font-weight: bold;
  color: #ffffff;
  background-color: #F8751E;
}

cell-center {
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
  background-color: rgba(47, 204, 118, 0.95);
  color: #ffffff;
  text-align: left;
}

table th,
table td {
  padding: 12px 15px;
  text-align: center;
  vertical-align: middle;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
  background: rgba(250, 235, 215, 0.9);
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #2FCC76;
}

table tbody tr.active-row {
  color: #2FCC76;
}

select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gray;
  margin-top: 1em;
}

.product-name {
  text-align: left !important;
  font-weight: bold;


}
