  <div class="card-body">
    <div class="table-responsive">
      <table id="ProductsTable" class="table table-striped table-hover" style="width: 100%">
        <thead>
          <tr>
            <th style="width: 2%"></th>
            <th style="width: 40%">Product</th>
            <th style="width: 10%">Quantity</th>
            <th style="width: 10%">Expire Date</th>
            <th style="width: 10%">Change quantity</th>
            <th style="width: 10%">Delete</th>
          </tr>
        </thead>
        <tbody *ngFor="let visibleProduct of visibleProducts">
          <tr>
            <td><input type="checkbox" id="{{visibleProduct?.productId}}" name="{{visibleProduct?.productId}}"
                value="{{visibleProduct?.productId}}"></td>
            <td>{{visibleProduct?.name}}</td>
            <td>{{visibleProduct?.quantity}}</td>
            <td>{{visibleProduct?.expireDate | date:'d-M-y'}}</td>
            <td><button>Edit</button></td>
            <td><button>Delete</button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Expire Date</th>
            <th>Change quantity</th>
            <th>Delete</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
