<header>

  <h1>My products</h1>

</header>
<div class="row">
  <div class="col-sm-1">
    Znaczek
  </div>
  <div class="col-md-4 col-sm-1">
    Nazwa
  </div>
  <div class="col-sm-1">
    Ilość
  </div>
  <div class="col-sm-1">
    Data ważności
  </div>
  <div class="col-sm-1">
    button
  </div>
  <div class="col-sm-1">
    button
  </div>
  <div class="col-sm-1">
    button
  </div>
</div>

<div *ngFor="let product of products">
  <app-product-thumbail [product]='product'></app-product-thumbail>
</div>
