<div class="card-header">
  <span class="me-2"><i class="bi bi-bar-chart-fill"></i></span>
  All categories
</div>

<div class="card-body">
  <div class="table-responsive">
    <table id="categories" class="table table-striped data-table" style="width: 100%">
      <thead>
      <tr>
        <th>id</th>
        <th>Category</th>
        <th>Delete category</th>
      </tr>
      </thead>
      <tbody *ngFor="let category of categories">

      <tr>
        <td>{{category?.categoryId}}</td>
        <td>{{category?.title}}</td>
        <td>
          <button>Update category</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
