a {
  font-weight: 400;
  color: #FFFFFF;
  margin: 10px;
  text-transform: uppercase;
}

li {
  list-style-type: none;
  margin-bottom: 7px;
  margin-top: 7px;
}

li > a.active, li > a.active > mat-icon{
  color: #94ffc4;
  background-color: transparent;
}

menu {
  padding-left: 20px;
}

.mat-icon {
  color: #e5fff1;
  padding-right: 40px;
  vertical-align: bottom;
}

.sidebar-nav {
  height: calc(100% - var(--topNavbarHeight));
  background-color: #F8751E !important;
  box-shadow: 0px 0px 10px #00000029;
}

.bottom-menu{
  bottom: 0;
  width: 100%;
  position: absolute;
}

@media (min-width: 992px) {
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: 100%;
    top: var(--topNavbarHeight);
  }
}
